.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: teal;
}

.Active{
    text-decoration: none;
    color: red;
}

.default{
    text-decoration: none;
    color: #fff;
}
